.listItemText {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

@media (max-width: 650px) {
  .titles {
    font-size: 15px;
  }

  .listItemText {
    font-size: 13px;
  }

  .categories {
    font-size: 12px;
  }

  .logos {
    width: 16px;
  }
  .titleLogos {
    width: 22px;
  }

}
